@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .post_content p {
    @apply py-4;
  }

  .post_content p a {
    @apply font-medium underline text-info underline-offset-4;
  }

  .post_content h5 {
    @apply py-3 text-lg font-semibold md:text-xl;
  }

  @keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
  }

  .animate-shake {
    animation: shake 0.2s infinite;
  }
}

/* .custom-slider {
  height: 525px !important;
} */

.custom-slider .slick-list {
  height: 325px !important;
  padding-top: 5rem;
}

.custom-slider .slick-slide div {
  margin: 0px 5px;
}

/* width */
.hideScroll::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.hideScroll::-webkit-scrollbar-track {
  background: #949494;
  border-radius: 15px;
}

/* Handle */
.hideScroll::-webkit-scrollbar-thumb {
  background: #ea3c3c;
  border-radius: 15px;
}

/* flip card css */

.card {
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.frontSideCard {
  backface-visibility: visible;
}

.backSideCard {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipCard:hover {
  transform: rotateY(-180deg);
}
